# Core Language Model 
openai
langchain
langchain_openai
langchain_community

# Environment Configuration
python_dotenv

# Search & Knowledge Integration
google_search_results
wikipedia

# PDF Handling
pypdf

# Hugging Face
langchain-huggingface
huggingface_hub
transformers
accelerate
bitsandbytes
langchain
